section.AccountBalance {
    color: rgba(9, 31, 153, 0.541);
    background-color: rgba(86,99,82,0.36);
    text-shadow: 1px 2px 2px rgba(12, 12, 11, 0.36);
    border: 6px inset #1C6EA4;
    -webkit-box-shadow: -4px 61px 34px 51px rgba(0,0,0,0.43); 
    box-shadow: -4px 61px 34px 51px rgba(0,0,0,0.43);
    font-family: "Times New Roman", Times, serif;
    width: 20%;
    height: 30px;
    text-align: center;
    margin:auto;
    font-size: 30px;
}
section.AccountBalance2 {
    color: #FFF;
    background-color: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18

}